<!DOCTYPE html>
<html>
    <head>
        <br>
        <h5>Kết quả tìm kiếm: </h5>
        
       

        <meta charset="utf-8">
        <br>
        
    </head>
    <body>
       <table class="table table-bordered">
  <thead>
    <tr>
      
     <th scope="col">STT</th>
      <th scope="col">Lịch sử</th>
     
       
    </tr>
  </thead>
  <tbody>

  {{#each dataday}}
    <tr>
       <th scope="row">{{sum @index 1}}</th>
      <td >{{this}}</td>
      
    </tr>
   
    {{/each}}
     
    
     
    
  </tbody>
</table>
    </body>


</html>

