<div class="mt-4">
    <h3>Đăng nhập</h3>
<form method="POST" action="/admins/check">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="name">Password</label>
    <input type="password" class="form-control" id="password" name="password">





    
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>

</div>