<div class="mt-4">
<form method="POST" action="/find">
  <div class="form-group">
    <label for="searvh-input"><h4>Tên cảm biến</h4></label>
    <input type="text" name="name" class="form-control" id="search-input" placeholder="Nhập từ khoá ( tiếng việt có dấu )">
    
  </div>
  
  
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>